.content {
    margin-top: 450px;
    /* background-color: rgb(218, 214, 212); */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nav .contactus {
    color: rgb(255, 102, 0);
}

.contactustitle h2 {
    font-family: 'Andika';
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.line {
    border: 1px dotted #747474;
    margin: 20px 150px;
}

.box1_left {
    display: inline-block;
    /* background-color: pink; */
    width: 330px;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 250px;

}

.box1_left h2.brandname {
    color: rgb(255, 102, 0);
    font-weight: 400;
    font-family: 'Anton';
    font-size: 35px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.box1_left h2.slogan {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Aldrich';
    padding-bottom: 10px;
}

.box1_left p {
    font-family: 'Architects Daughter';
}

.description {
    width: 600px;
    font-size: 15px;
    display: inline-block;
    /* background-color: blue; */
    padding-left: 50px;
    border-left: 2px solid #000;

}

.description1 {
    padding-bottom: 10px;
    font-family: 'Andika';
}

.description2,
.description3 {
    padding-top: 15px;
    font-family: 'Andika';
}

/* rowbox2 - contact form and map */
.rowbox2 {
    display: flex;
    margin-bottom: 20px;
}

.contactform {
    /* background-color: pink; */
    width: 350px;
    margin-left: 250px;

}

.map {
    flex: 1;
}

.contactform input,
textarea,
.submit-btn {
    width: 90%;
    margin-bottom: 17px;
    padding: 15px;
    border: 1px solid #a89b00;
    font-weight: bold;
}

.contactform .submit-btn {
    background-color: rgb(237, 208, 196);
}
.contactform .submit-btn:hover {
    background-color: rgb(255, 102, 0);
    color: #fff;
}

.map {
    width: 60%;
    padding-top: 40px;
}