/* header */


/* section */

/* .clearfix:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        } */
.nav .home {
    color: rgb(255, 102, 0);
}

.box1_left {
    display: inline-block;
    /* background-color: pink; */
    width: 400px;
    line-height: 30px;
    margin-top: 530px;
    margin-left: 220px;
    margin-right: 15px;

}

.box1_left h2.brandname {
    color: rgb(255, 102, 0);
    font-weight: 400;
    font-family: 'Anton';
    font-size: 35px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.box1_left h2.slogan {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Aldrich'
}

.box1_left p {
    margin-top: 15px;
    font-family: 'Architects Daughter';
}

.description {
    width: 550px;
    font-size: 13px;
    display: inline-block;
    /* background-color: blue; */
    padding-left: 20px;
    border-left: 2px solid #000;

}

.description1 {
    padding-bottom: 10px;
    font-family: 'Andika';
}

.description2,
.description3 {
    padding-top: 15px;
    font-family: 'Andika';
}


/* break line */

/* .line {
            border: 1px dotted #d7d7d7;
        } */

.row_box2 {
    background-color: rgb(247, 238, 244);
    /* width: 100%; */
    height: 650px;
    margin: 30px auto;
}

.ourservices {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Aldrich';
    font-weight: 900;
    letter-spacing: 0.1em;
}

.servicedescription {
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Andika';

}

.imgbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-left: 25px;
    margin-right: 10px;
}

.imgbox img {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin-bottom: 20px;
}

.imgbox a {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    font-family: 'Aldrich';
}

.imgbox a:hover {
    color: rgb(255, 102, 0);
}

.submit-btn:hover {
    background-color: rgb(255, 102, 0);
    color: #fff;
}